<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>
  <body>
    <div class="jumbotron">
        <div style="display: flex;justify-content: space-between;">
            <div style="width: 30%">
                <div>
                    <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.15752-9/308984038_1492240971200641_377945211014102866_n.png?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_ohc=03V6pL9ksrwAX-KX5nH&_nc_ht=scontent-yyz1-1.xx&oh=03_AVLwxt7K77yT_1J_EPvKlCsrqJZM_HkKXr4Rumsi8R3PuA&oe=6367055E"  width="400" height="255">
                    <h1>Smart Soldier Jacket</h1>
                 </div>
            </div>
            <div style="width: 30%">
                <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.15752-9/309621271_416321707342907_4754661607663103111_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_ohc=JMnkyknTAZAAX8S_I2M&_nc_ht=scontent-yyz1-1.xx&oh=03_AVLxYXQGDc53d7Be-wgrUx82-BLBAlubpnUDapodQuvuaQ&oe=63647CBC"  width="400" height="255">
                <h1>Smart Fuel Tank</h1>
            </div>
            <div style="width: 30%">
                <img src="https://hacksterio.s3.amazonaws.com/uploads/attachments/521525/smart_waste_bi_lOqknITZS2.png"  width="400" height="255">
                <h1>Smart Dustbin</h1>
            </div>
        </div>
  
    </div>
  </body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




